<div class="container mt-4">
  <h2>Task List</h2>
  
  <div class="button-container">
    <button
      class="btn btn-primary"
      (click)="navigateToAddTask()"
      routerLink="/tasks/new"
    >
      Add Task
    </button>
    <button
      class="btn btn-secondary"
      (click)="logout()"
    >
      Logout
    </button>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-12" *ngIf="tasks.length === 0" class="alert alert-info">
      There are no tasks to display.
    </div>
    <div class="col-md-4" *ngFor="let task of tasks">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ task.name }}</h5>
          <p class="card-text">{{ task.description }}</p>
          <p class="card-text">
            <small class="text-muted">Completed: {{ task.completed ? 'Yes' : 'No' }}</small>
          </p>
          <!-- Updated Complete Button -->
          <button class="btn btn-success btn-sm" [disabled]="task.completed" (click)="markTaskComplete(task._id)"> Complete</button>
          <button (click)="deleteTask(task._id)" class="btn btn-danger btn-sm">Delete</button>
        </div>
      </div>
    </div>
  </div>
</div>
